# -------------------------------------
# Wordpress
# -------------------------------------

*.log
build/*
vendor/*
node_modules/*
# -------------------------------------
# IDE
# -------------------------------------

.idea

# -------------------------------------
# Operating System
# -------------------------------------

.DS_Store
**/.DS_Store
ehthumbs.db
**/ehthumbs.db
Thumbs.db
**/Thumbs.db